h2 {
	display: block;
	font-size: 72px;
	font-weight: 700;
	color:rgb(255,255,255);
}
p {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color:rgb(255,255,255);
}
button {
	font-family: 'Oxygen', sans-serif;
	border: none;
	cursor: pointer;
}
.wrap {
	position: relative;
	display: block;
	width: 920px;
	margin: 0 auto;
}
/*== header ==*/
header {
	display: bock;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.8);
 }
header > .wrap {
	padding: 25px 0;
}
header > .wrap > a {
	display: inline-block;
	vertical-align: middle;
	width: 128px;
	height: 30px;
}
header > .wrap > a > img {
	display: block;
	width: 100%;
}
#signIn, #signUp {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	width: 120px;
	height: 30px;
	border: none;
	cursor: pointer;
	text-align: center;
	color: rgb(255,255,255);
		background-color: rgba(0,0,0,0.3);
}
#signIn:active, #signUp:active{
	background-color: rgb(255,255,255);
}
#searchSection {
	display: block;
	position: absolute;
	right: 0;
	top: 25px;
	width: 200px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 20px;
}
#searchForm {
	position: relative;
	display: block;
}
#searchForm > input {
	display: block;
	background-color: transparent;
	border: none;
	display: inline-block;
	padding: 10px 0;
	color: rgba(255,255,255,0.2);
	text-indent: 20px;
	width: 160px;
}
#searchBtn {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 16px;
	background: url(../images/img-icon-search.png) no-repeat left center;
	background-size: 100%;
}
/*== stage ==**/
#stage {
	position: relative;
	width:100%;
	overflow:hidden;
	height:631px;
}
#paginator{
	display: block;
    position: fixed;
    right: 10%;
    top: 50%;
    z-index: 10;
}
#paginator > li{
	display:block;
	margin-bottom:10px;
	width:10px;
	height:10px;
	border-radius:20px;
	background-color:rgba(255,255,255,0.15);
	cursor:pointer;
}
#paginator > li.active{
	background-color:rgba(255,255,255,0.75);
}
#stage > section {
	position: relative;
	width: 100%;
	height: 672px;
}
#show1 {
	background: url(../images/img-background-1.jpg) no-repeat left center;
	background-size: 100%;
}
#show2 {
	background: url(../images/img-background-2.jpg) no-repeat left center;
	background-size: 100%;
}
#show3 {
	background: url(../images/img-background-3.jpg) no-repeat left center;
	background-size: 100%;
}
#show4 {
	background: url(../images/img-background-4.jpg) no-repeat left center;
	background-size: 100%;
}
#stage > section  aside{
	position:absolute;
	display:inline-block;
	width:256px;
	height:500px;
	background:url(../images/img-mobile.png) no-repeat left center;
	background-size:100%;
	top:50%;
}
.screen{
	position:relative;
	top:45px;
	left:10px;
	z-index:0;
	display:block;
	width:234px;
	height:409px;
	background-color:rgba(255,0,102,0.25);	
}
#show1 .screen{
	background-color:rgba(255,0,102,0.25);	
}
#show2 .screen{
	background-color:rgba(255,102,0,0.25);	
}
#show3 .screen{
	background-color:rgba(255,255,255,0.25);	
}
#show4 .screen{
	background-color:rgba(255,255,255,0.25);	
}
#stage > section > .wrap{
	min-height:300px;
}
#stage > section article{
	position:absolute;
	right:0;
	top:72%;
	display:inline-block;
	width:480px;
}
article > h2{
	margin-bottom:40px;
}
.finalWrap{
	text-align:center
}
.finalWrap h2{
	position:absolute;
	bottom:0;
}